<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.email %></h1>
    <p>
      You have been invited to <%= @invitation.meetup.name %>
      your email to use is: <%= @user.email %>.<br/>
      Click on <a href=<%= "http://localhost:3000/invitations/receive_response?url=#{@invitation.secret_url}" %>>this link to see the meetup</a>
    </p>
  </body>
</html>